.intro {
    position: relative;
    background-image: url("../images/intro-bg.jpg");
    background-size: cover;
    background-position: center;
}

.intro_dark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.67);
}

.intro_type {
    display: flex;
    gap: 0.32em;
    font-size: 2.8em;
    font-weight: bold;
    color: white;
    justify-content: center;
    padding: 130px;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.intro_type .underscrore {
    animation: blink;
    animation-duration: 350ms;
    animation-iteration-count: infinite;
    animation-duration: alternate;
}

[class^="intro_title"]{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: darkviolet;
    clip-path: polygon(100% 90%, 100% 100%, 0 100%, 0 0);
}

.intro_title_flip {
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 90%);
    opacity: 0.5;
}

@media (max-width: 768px) {
    .intro {
        height: 100vh;
    }
    .intro_type {
        margin-top: 36vh;
        flex-direction: column;
        text-align: left;
    }
}

@media (min-width: 769px) {
    .intro {
        height: 500px;
    }
    .intro_type {
        margin-top: 172px;
        align-items: center;
    }
}

.intro_type span {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.25em;
}